* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }

  a:visited { 
    text-decoration: none; 
    color: white; 
   }

   a:link {
    color: #E5E7EB;
   }
  
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px;
    color: #E5E7EB;
}

.head-left-side {
    display: flex;
    margin-left: 150px;
}

.head-right-side {
    display: flex;
    margin-right: 150px;
    gap: 100px;
}

.header-2 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 100px;
    gap: 60px;
}

.header-2-left {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    text-align: center;
}

.header-2-right {
    display: flex;
    margin-right: 100px;

}

.part1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.part2 {
    font-size: 18px;
    color: #E5E7EB;
}

.but1 {
    display: flex;
    justify-content: center;
    width: 120px;
    height: auto;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 12px;
    align-self: center;
    margin-top: 15px;
}

.img1 {
    width: 300px;
    height: auto;
    border-radius: 12px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.middle {
    display: flex;
    flex: wrap; 
    justify-content: center;
    padding: 70px;
    flex-direction: row;
    margin-top: -70px;
}

.pix {
    display: flex;
    width: 220px;
    height: auto;
    border-radius: 12px;
}

.text {
    display: flex;
    justify-content: center;
    width: 240px;
    height: auto;
    text-align: center;
}

.quotebox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.last-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    border: 1px solid;
    
}

.blue-box {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    gap: 330px;
    border-radius: 12px;
    padding: 30px 150px;
}

.box-left-side {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

.but3 {
    display: flex;
    justify-content: center;
    width: 120px;
    height: auto;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 12px;
    align-self: center;
    margin-top: 15px;
    border: #E5E7EB 2px solid;
}

.paro1 {
    font-size: 17px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px;
}