* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }

  a:visited { 
    text-decoration: none; 
    color: white; 
   }
  
.header {
    display: flex;
    background-color: #1F2937;
    border: 1px solid;
    justify-content: space-between;
    padding: 20px;
}

.head-left-side {
    display: flex;
    margin-left: 150px;
}

.head-right-side {
    display: flex;
    margin-right: 150px;
    gap: 100px;
}

.header-2 {
    display: flex;
    background-color: #1F2937;
    border: 1px solid;
    justify-content: space-between;
    padding: 100px;
}

.header-2-left {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.header-2-right {
    display: flex;
    margin-right: 100px;

}

.part1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.part2 {
    font-size: 18px;
    color: #E5E7EB;
}

.but1 {
    display: flex;
    justify-content: center;
    width: 120px;
    height: auto;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 12px;
}